{% extends 'base.html' %}
{% load static %}

{% block title %} NEWS {% endblock %}

{% block content %}


<div class="row" style="margin-top: 2px">

    <div class="container col-md-12" style="background-color: #0E2231;color:#9e9e9e">
        <h3 style="text-align: center">Latest News </h3>
    </div>

</div>
<br/>


<div class="row">
    <div class="col-md-12 well">


        {% if news %}

        {% for item in news %}

        <div class="col-md-12">
            <h1>{{item.title}}</h1>
            <p>{{item.created_at}}</p>
            <p>{{item.descriptions|safe}}</p>
                                <hr style="border-top:1px dashed #9e9e9e" />

        </div>


        {% endfor %}

        {% endif %}
    </div>


</div>


{% endblock %}

{% block javascript %}

<script>

    $('.autoplay').slick({
        dots: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        prevArrow: false,
        nextArrow: false

    });
</script>

{% endblock %}
