.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
}

/*.navbar-default .navbar-nav > li > a:focus {*/
/*color: #777;*/
/*}*/

.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-google-plus:hover {
    color: #e64522;
}

.social .fa-linkedin:hover {
    color: #0094BC;
}

.social .fa-youtube:hover {
    color: #e64522;
}

.errorlist {
    color: red;
}

.verticalLine {
    border-left: dashed #1f292e;
}

body {
    background: #DEF0E3 url("../img/bg.gif") repeat-x top left;
}

/*.well{*/
        /*background-color: #DEF0E3;*/

/*}*/

